* {
    margin: 0;
    padding: 0;
}

body,
html {
    font: 14px Arial, 'sans-serif';
}

.container {
    width: 1100px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
    margin: .5rem;
}

input {
    padding: .45rem .8rem;
    border: 1px solid #e2e2e2;
}
button {
    padding: .45rem .8rem;
    border: 1px solid #e2e2e2;
    font-size: 1rem;
}
input:focus {
    outline: none;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
